.pagination {
  margin: 1.5rem 0;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.list__btn {
  width: 50px;
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
  margin: 0.1rem;
}

.active {
  background-color: teal;
  color: #fff;
}

.prev__next {
  background-color: teal;
  color: #fff;
}
